.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  max-width: 360px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 14px 28px;
  margin: 25px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  outline: none;
  text-transform: uppercase;
  opacity: 0.8;
}

.react-switch-label:active .react-switch-button {
  width: 60px;
}

.navStyle {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
