/* body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: inline-block;
  width: 100px;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navBar {
  position: absolute;
}



.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  outline: none;
  text-transform: uppercase;
} */

.mapContainer {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.react-switch-label:active .react-switch-button {
  width: 60px;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 320px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  padding: 12px 24px;
  margin: 20px;
  font-size: 13px;
  line-height: 2;
  color: #6b6b76;
  outline: none;
  text-transform: uppercase;
}

.tooltip {
  position: absolute;
  margin: 16px;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
  font-size: 20px;
  z-index: 9;
  pointer-events: none;
}

.navStyle {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 50px;
  padding: 10px;
}

.geolocateStyle {
  position: absolute;
  top: 0;
  right: 0;
  margin: 50px;
  padding: 10px;
}
/* .sidebar {
  display: inline-block;
  position: right;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
} */
